body, h2, ul, li{
    color: #fcfcfc;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 252, 252, 0.5); 
}

.logo{
    padding: 20px;
    position:absolute;
    top:0;
    left:0;
}

.logo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
} 

li{ 

    text-decoration: none;
    border: 10px;
    margin: 20px; 
    border: 2px;
    display: inline;
    justify-content: space-between;
    list-style:none ;
}

nav{
    margin:10px;
    padding:10px;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    margin-right: 10px;
    margin-top: 100px;
    color: #ffffff;
    padding: 10px;
    text-align: right;
}
#intro {
    display: flex;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    color: #ffffff;
}
#intro img{
    width:300px ;
    height: 300px;
    border-radius: 20%;
}

body{
    font-family: Arial, sans-serif;
    background-image: url('background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
